<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.TeacherMapper">

    <resultMap id="teacherResult" type="bean.Teacher">

        <result property="id" column="teacher_id"/>
        <result property="name" column="teacher_name"/>

        <collection property="studentList" ofType="bean.Student">
            <result property="id" column="student_id"/>
            <result property="name" column="student_name"/>
        </collection>

    </resultMap>

    <select id="findById" parameterType="Long" resultMap="teacherResult" resultType="bean.Teacher">
        SELECT
            teacher.id AS teacher_id,
            teacher.name AS teacher_name,
            student.id AS student_id,
            student.name AS student_name
            FROM teacher, student, relationship
        WHERE
            teacher.id = #{id}
            AND teacher.id = relationship.teacher_id
            AND relationship.student_id = student.id
    </select>

</mapper>