<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

    <resultMap id="userResult" type="bean.User">

        <result property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="email" column="user_email"/>
        <result property="password" column="user_password"/>

        <collection property="blogs" ofType="bean.Blog">
            <id property="id" column="blog_id"/>
            <result property="ownerId" column="user_id"/>
            <result property="title" column="blog_title"/>
            <result property="content" column="blog_content"/>
        </collection>

    </resultMap>

    <select id="findById" parameterType="Long" resultMap="userResult" resultType="bean.User">
        SELECT
            user.id AS user_id,
            user.name AS user_name,
            user.email AS user_email,
            user.password AS user_password,
            blog.id AS blog_id,
            blog.title AS blog_title,
            blog.content AS blog_content
        FROM user, blog
        WHERE
            user.id = #{id}
            AND user.id=blog.owner_id;
    </select>

<select id="findByPassword" parameterType="String" resultMap="userResult" resultType="bean.User">
    SELECT
        user.id AS user_id,
        user.name AS user_name,
        user.email AS user_email,
        user.password AS user_password,
        blog.id AS blog_id,
        blog.title AS blog_title,
        blog.content AS blog_content
    FROM
        user, blog
    WHERE
        user.password = #{password}
        AND user.id=blog.owner_id;
</select>

</mapper>